In [ ]:

import pandas as pd

# Datos en formato diccionario
datos = {
    "Nombre": ["Lucía", "Carlos", "María", "David", "Ana", "Pepe"],
    "Edad": [28, 35, 22, 41, 30, 18],
    "Sexo": ["F", "M", "F", "M", "F", "M"],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla", "Bilbao", "Badajoz"],
    "Salario": [32000, 45000, 29000, 51000, 38000, 27000]
}

# Crear DataFrame
df = pd.DataFrame(datos)

print(df.head())

   Nombre  Edad Sexo     Ciudad  Salario
0   Lucía    28    F     Madrid    32000
1  Carlos    35    M  Barcelona    45000
2   María    22    F   Valencia    29000
3   David    41    M    Sevilla    51000
4     Ana    30    F     Bilbao    38000

In [ ]:
df.to_csv("datos.csv", index=False)

In [6]:
df = pd.read_csv("datos.csv")
print(df.tail())

   Nombre  Edad Sexo    Ciudad  Salario
2   María    22    F  Valencia    29000
3   David    41    M   Sevilla    51000
4     Ana    30    F    Bilbao    38000
5    Pepe    18    M   Badajoz    27000
6  Javier    20    M    Murcia    50000

In [8]:
# Mostrar la forma del DataFrame
print(df.shape)

# Mostrar información del DataFrame
print(df.info())

# Mostrar columnas
print(df.columns)

# Mostrar estadísticas descriptivas
print(df.describe())

(7, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nombre   7 non-null      object
 1   Edad     7 non-null      int64
 2   Sexo     7 non-null      object
 3   Ciudad   7 non-null      object
 4   Salario  7 non-null      int64
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes
None
Index(['Nombre', 'Edad', 'Sexo', 'Ciudad', 'Salario'], dtype='object')
            Edad       Salario
count   7.000000      7.000000
mean   27.714286  38857.142857
std     8.380817   9957.050625
min    18.000000  27000.000000
25%    21.000000  30500.000000
50%    28.000000  38000.000000
75%    32.500000  47500.000000
max    41.000000  51000.000000